page-tab {
  .tabs-ios .tab-button[aria-selected=true] {
    color: #000;
  }
  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #000;
  }
  .tabs-ios .tabbar {
    background: #ED3740;
  }
  .tabs-ios .tab-button-icon {
    color: #000000;
  }
  .tabs-ios .tab-button {
    color: #000000;
  }
  .tabs-md .tabbar {
    background: #ED3740;
  }
  .tabs-md .tab-button-icon {
    color: #f4f4f4;
  }
  .tabs-md .tab-button {
    color: #f4f4f4;
  }
  img {
    border: 0; // width: 200%;
    // height: 80px;
    // max-width: 150px;
    height: auto;
    object-fit: cover;
  }
  ion-fab[center] {
    margin-left: 0px !important;
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -0%) !important;
  }
}
