.popover-ios .popover-content{
    width: 80vw;
    position: sticky;
}
page-shop {
   
    .camera {
        position: absolute;
        right: 26px;
        top: 10px;
        font-size: 2.2em;
    }
    .fill {
        position: absolute;
        top: 0;
        height: 24.7vh;
        background-color: rgba(0, 0, 0, 0.4);
        width: -webkit-fill-available;
    }
    .name {
        font-weight: bold;
        position: absolute;
        margin-top: -90px;
        color: #fff;
        font-size: 1.5em;
        padding: 0 0 0 18px;
    }
    .name-2 {
        font-weight: bold;
        position: absolute;
        margin-top: -60px;
        color: #fff;
        font-size: 1.2em;
        padding: 0 0 0 18px;
    }
    .name-3 {
        position: absolute;
        margin-top: -38px;
        font-size: 1.0em;
        padding: 0 0 0 18px;
    }
    .pin {
        position: absolute;
        right: 26px;
        margin-top: -7vh;
        font-size: 1.8em;
    }
    .row-custom {
        flex-wrap: inherit !important;
    }
    .slide-xpromote {
        height: 17.5vh;
    }
    .slide-xcate {
        height: 18vh;
    }
    .text1 {
        font-size: 2.7vh;
        padding-left: 2vh;
        border-bottom: 1px solid #ed3740;
    }
    .texthover {
        text-align: center;
        position: absolute;
        margin-top: -45px;
        background-color: rgba(0, 0, 0, 0.4);
        width: 137px;
        color: #FFF;
        height: 40px;
        padding-top: 10px;
    }
    .texthover-2 {
        text-align: center;
        position: absolute;
        margin-top: -42px;
        background-color: rgba(0, 0, 0, 0.4);
        width: 19.1vh;
        color: #FFF;
        height: 40px;
        padding-top: 10px;
    }
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .col-md-2 {
        padding: 4px;
        flex: 0 0 33.333334%;
        position: relative;
        width: 100%;
    }
    .img-h {
        height: 120px;
    }
    .bin {
        position: absolute;
        color: #fff;
        font-size: 1.8em;
        right: 10px;
    }
    .cateimg{
        height: 110px;
        width: 160px;
        border-bottom: 1px solid #ed3740;
    }
}