page-shop {
    .camera {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 2.2em;
    }
    .fill {
        position: absolute;
        top: 0;
        height: 24.7vh;
        background-color: rgba(0, 0, 0, 0.4);
        width: -webkit-fill-available;
    }
    .name {
        font-weight: bold;
        position: absolute;
        margin-top: -90px;
        color: #fff;
        font-size: 1.5em;
    }
    .name-2 {
        font-weight: bold;
        position: absolute;
        margin-top: -60px;
        color: #fff;
        font-size: 1.2em;
    }
    .name-3 {
        position: absolute;
        margin-top: -38px;
        font-size: 1.0em;
    }

    .pin {
        position: absolute;
        right: 10px;
        margin-top: -7vh;
        font-size: 1.8em;
    }

    .row-custom {
        flex-wrap: inherit !important;
    }

    .slide-x {
        height: 106px;
    }
    .text1 {
        font-size: 2.7vh ;
        padding-left: 2vh;
    }
    .texthover{
        text-align: center;
        position: absolute;
        margin-top: -3vh;
        background-color: rgba(0,0,0,0.4);
        width: 17.2vh;
        color: #FFF;
    }
}