<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="ios-contact-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>shop</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <img src="http://www.hardrock.com/cafes/amsterdam/files/2308/LegendsRoom.jpg" alt="image">
  <span class="fill"></span>
  <ion-row class="camera">
    <ion-icon name="camera" color="light" (click)="selectShopBG()"></ion-icon>
  </ion-row>
  <ion-row class="name">
    <ion-col>
      {{shop.name}}
      <ion-icon name="md-create" color="light" (click)="edit()">

      </ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="name-2">
    <ion-col *ngFor="let item of shop.times">
      {{item.days}}
    </ion-col>
  </ion-row>
  <ion-row class="name-3">
    <ion-col *ngFor="let item of shop.times">
      <span ion-text color="light"> {{item.timestart}}</span>
      <span ion-text color="light">{{item.timeend}} </span>
    </ion-col>
  </ion-row>
  <ion-row>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- <span ion-text color="secondary" class="pin">
        <ion-icon name="pin" color="danger"></ion-icon>
      </span> -->
    </ion-col>
  </ion-row>
  <ion-scroll scrollX="true" class="slide-xpromote">
    <ion-row no-padding class="row-custom">
      <ion-col col-4 *ngFor="let item of shop.promoteimage">
        <img [src]="item" width="180vh" height="95vh" (click)="presentPopoverProduct($event)">
      </ion-col>
    </ion-row>
  </ion-scroll>
  <ion-label fixed class="text1">Products</ion-label>
  <ion-scroll scrollX="true" class="slide-xcate">
    <ion-row no-padding class="row-custom">
      <ion-col col-4 *ngFor="let item of shop.items; let i = index" (click)="selectedCate(i)">
        <img [src]="item.cate.image" class="cateimg">
        <span mode="ios" class="texthover"> {{item.cate.name}} </span>
      </ion-col>
      <ion-col col-4>
        <img src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511499758/pp_clfpol.jpg" class="cateimg" (click)="presentPopoverCate($event)">
      </ion-col>
    </ion-row>
  </ion-scroll>

  <div class="row" [dragula]='"zone1"' [dragulaOptions]="options" *ngIf="shop.items && shop.items.length > 0">
    <div class="col-md-2" *ngFor="let itm of shop.items[index].products" (press)="showDelete(itm._id)">
      <span class="bin" (click)="deleteProduct(itm._id)" *ngIf="sd[itm._id]">
        <ion-icon name="md-close-circle"></ion-icon>
      </span>
      <img class="img-h" [src]="itm.image" alt="image" height="180px" width="220px">
      <span class="texthover-2" *ngIf="itm.name"> {{itm.name}} {{itm.price | number}}.-</span>
    </div>
  </div>

  <!-- <ion-upload-images [maximumImagesCount]="3" [images]="pImages" [isShowUpload]="true"></ion-upload-images> -->
</ion-content>