<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>shop</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="http://www.hardrock.com/cafes/amsterdam/files/2308/LegendsRoom.jpg" alt="image">
  <span class="fill"></span>
  <ion-row class="camera">
    <ion-icon name="camera" color="light"></ion-icon>
  </ion-row>
  <ion-row class="name">
    <ion-col>
      ละมุนภัณฑ์
      <ion-icon name="md-create" color="light"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="name-2">
    <ion-col>
      IDEA COFFEE AND SPLACE
    </ion-col>
  </ion-row>
  <ion-row class="name-3">
    <ion-col>
      <span ion-text color="danger"> LUMLUKKA 5</span>
      <span ion-text color="secondary">เวลา 8:00 - 20:00 น. </span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <span ion-text color="secondary" class="pin">
        <ion-icon name="pin" color="danger"></ion-icon>
      </span>
    </ion-col>
  </ion-row>
  <ion-scroll scrollX="true" class="slide-x">
    <ion-row no-padding class="row-custom">
      <ion-col col-4 *ngFor="let item of promote">
        <img [src]="item.img" width="200vh" height="90vh">
      </ion-col>
    </ion-row>
  </ion-scroll>
  <ion-label fixed class="text1">Products</ion-label>
  <ion-scroll scrollX="true" class="slide-x">
    <ion-row no-padding class="row-custom">
      <ion-col col-4 *ngFor="let item of cate">
        <img [src]="item.img" width="124px" height="84px">
        <span class="texthover"> {{item.name}} </span>
      </ion-col>
      <ion-col col-4>
        <img src="http://res.cloudinary.com/ha7s6qhcg/image/upload/v1511499758/pp_clfpol.jpg" width="200vh" height="90vh">
      </ion-col>
    </ion-row>
  </ion-scroll>

  <div class="row" [dragula]='"zone1"' [dragulaOptions]="options">
    <div class="col-md-2" *ngFor="let item of product" (press)="showDelete(item.id)">
      <span class="bin" (click)="deleteProduct(item.id)" *ngIf="sd[item.id]"><ion-icon name="md-close-circle"></ion-icon></span>
      <img class="img-h" [src]="item.img" alt="image" height="180px" width="220px">
      <span class="texthover-2" *ngIf="item.name"> {{item.name}} {{item.price | number}}.-</span>
    </div>
  </div>


</ion-content>